<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ViedoActivity"
            android:exported="false" />
        <activity
            android:name=".PlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".FinishSeekActivity"
            android:exported="false" />
        <activity
            android:name=".SeekActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>