<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".SingerActivity"
            android:exported="false" />
        <activity
            android:name=".VideosActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:resizeableActivity="true" />
        <activity
            android:name=".PlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".FinishSeekActivity"
            android:exported="false" />
        <activity
            android:name=".SeekActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>